# OS
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj

# Other
node_modules/
*.sass-cache
*.err
*.diff
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
.tmp/

# Repo Specific
_site
*.jekyll-cache
*.jekyll-metadata