@charset "utf-8";

// Colours
$white: #fff;
$black: #000;

$primaryDark: #172E32;
$primaryMain: #89AEb2;
$primaryLight: #758588;

$secondaryMain: #275DAD;

$twitter: #00ACEE;
$twitterLight: #E8F5FD;
$instagram: #c32aa3;
$behance: #1769ff;

$navigationBg : #1f2327; // navigaton background colour
$navigationLightBg : white;
