<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    {% assign author = site.data.author[site.author] %}
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if author.name -%}
            {{ author.name | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if author.email -%}
          <li><a class="u-email" href="mailto:{{ author.email }}">{{ author.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>
      <div class="footer-col footer-col-3">
        <p>{{- author.bio | escape -}}</p>
      </div>
    </div>
  </div>
  <script src="src/js/main.js"></script>
  <script src="src/js/jquery.min.js"></script>
  <script src="src/js/bootstrap.min.js"></script>

</footer>
