.wrapper {
    display: block;
    margin-right: 1.125rem;
    margin-left: 1.125rem;
}


h1.intro-text {
    text-align: right;
    text-size-adjust: auto;

}

.side img {
    max-width: 100%;
    display: block;
    margin: auto 1.15rem;
}

p.about-text {
    text-align: left;
    font: 300 1.25rem/2.125rem $font-primary;
    padding: 2.5rem 0 2.5rem 0;
    color: darken($navigationLightBg, 60%)
}

.social-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1.875rem, 1fr));
    grid-gap: 0.25rem;
    text-align: center;
    margin: 0 2.5rem 0 2.5rem;
    padding-bottom: 2.5rem;
}

.fab {
    font-size: 2rem;
}

.fa-twitter,
.fa-instagram,
.fa-behance {
    color: darken($navigationLightBg, 60%)
}

.fa-twitter:hover {
    color: $twitter;
    transition: 0.2s;
}

.fa-instagram:hover {
    color: $instagram;
    transition: 0.2s;
}

.fa-behance:hover {
    color: $behance;
    transition: 0.2s;
}

@media screen and (min-width:767px) {
    h1.intro-text {
        text-align: left;
        float: left;
        font-size: 1.75rem;
        max-width: 50%;
    }

    .side {
        float: right;
        max-width: 50%;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .side img {
        max-width: 90%;
        display: block;
        margin: auto 1.15rem;

    }

    p.about-text {
        text-align: left;
        font: 300 1.5rem/2.375rem $font-primary;
        padding: 0;
        color: darken($navigationLightBg, 60%)
    }

    .social-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.25rem;
        text-align: left;
        margin: 0;
        max-width: 50%;
    }
}