/* Bootstrap NavBar Color Override http://work.smarchal.com/twbscolor/scss/f8f8f8e7e7e73333333333331 */

$bgDefault: #f8f8f8;
$bgHighlight: #e7e7e7;
$colDefault: #333333;
$colHighlight: #333333;
$dropDown: true;
  
.navbar {
    border-radius: 0px !important;
  }

  .navbar-default {
    background-color: transparent;
    border: 0;
  }