// Fonts
$font-primary: -apple-system,
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

// Font Weights
$font-bold: 500;
$font-normal: 300;
$font-light: 100;

// Colours
$white: #fff;
$black: #000;

$primaryDark: #172E32;
$primaryMain: #3f5256;
$primaryLight: #758588;

$secondaryMain: #275DAD;

$twitter: #00ACEE;
$twitterLight: #E8F5FD;
$instagram: #c32aa3;
$behance: #1769ff;

$navigationBg : #1f2327; // navigaton background colour
$navigationLightBg : white;