@import 'speccysps/variables';
@import 'minima';

$theme-colors: ("primary": #FF69B4);

// ! Bootstrap scss
// @import "node_modules/bootstrap/scss/bootstrap";


html {
    font-size: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: $font-primary;
}

@import 'speccysps/home';