html {
  font-size: 62.5%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 10rem;
}

/* Bootstrap NavBar Color Override http://work.smarchal.com/twbscolor/scss/f8f8f8e7e7e73333333333331 */
.navbar {
  border-radius: 0px !important;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5rem;
  text-align: center;
  background-color: #f0f0f0;
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
}

.highlighter-rouge .highlight {
  background: #eef;
}

.highlight .c {
  color: #998;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .k,
.highlight .o {
  font-weight: bold;
}

.highlight .cm {
  color: #998;
  font-style: italic;
}

.highlight .cp {
  color: #999;
  font-weight: bold;
}

.highlight .c1 {
  color: #998;
  font-style: italic;
}

.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}

.highlight .gd {
  color: #000;
  background-color: #fdd;
}

.highlight .gd .x {
  color: #000;
  background-color: #faa;
}

.highlight .ge {
  font-style: italic;
}

.highlight .gr {
  color: #a00;
}

.highlight .gh {
  color: #999;
}

.highlight .gi {
  color: #000;
  background-color: #dfd;
}

.highlight .gi .x {
  color: #000;
  background-color: #afa;
}

.highlight .go {
  color: #888;
}

.highlight .gp {
  color: #555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaa;
}

.highlight .gt {
  color: #a00;
}

.highlight .kc,
.highlight .kd,
.highlight .kp,
.highlight .kr {
  font-weight: bold;
}

.highlight .kt {
  color: #458;
  font-weight: bold;
}

.highlight .m {
  color: #099;
}

.highlight .s {
  color: #d14;
}

.highlight .na {
  color: #008080;
}

.highlight .nb {
  color: #0086b3;
}

.highlight .nc {
  color: #458;
  font-weight: bold;
}

.highlight .no {
  color: #008080;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne,
.highlight .nf {
  color: #900;
  font-weight: bold;
}

.highlight .nn {
  color: #555;
}

.highlight .nt {
  color: #000080;
}

.highlight .nv {
  color: #008080;
}

.highlight .ow {
  font-weight: bold;
}

.highlight .w {
  color: #bbb;
}

.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo {
  color: #099;
}

.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
  color: #d14;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #d14;
}

.highlight .ss {
  color: #990073;
}

.highlight .bp {
  color: #999;
}

.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: #008080;
}

.highlight .il {
  color: #099;
}

@media only screen and (max-width: 76.8em) {
  .wrapper {
    margin-right: 2.4rem;
    margin-left: 2.4rem;
  }
  h2.intro-ext {
    font-size: 2.8rem;
    text-align: right;
    padding: 4rem 0 4rem 0;
  }
  .side img {
    width: 80%;
    margin-right: -2.4rem;
  }
  p.about-ext {
    text-align: left;
    font: 300 18px/32px -apple-system, Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 4rem 0 4rem 0;
    color: #666666;
  }
  .social-grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(4rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    grid-gap: 0.25rem;
    text-align: center;
    margin: 0 4rem 0 4rem;
    padding-bottom: 4rem;
  }
  .fab {
    font-size: 2em;
  }
  .fa-twitter,
  .fa-instagram,
  .fa-behance {
    color: #666666;
  }
  .fa-twitter:hover {
    color: #00ACEE;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .fa-instagram:hover {
    color: #c32aa3;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .fa-behance:hover {
    color: #1769ff;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
/*# sourceMappingURL=main.css.map */